@model Containers.Web.ViewModels.Containers.ContainersListViewModel
@{
    this.ViewData["Title"] = "All free containers, page " + Model.PageNumber;
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

<h1>@this.ViewData["Title"]</h1>
<hr />

<div class="container">
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Containers" asp-action="Create">Create container</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Inventar number</th>
                <th>Colour</th>
                <th>Capacity</th>
                <th></th>                
            </tr>
        </thead>
        <tbody>
        @foreach (var container in this.Model.Containers)
        {
            <tr>
                <td>@container.InventarNumber</td>
                <td>@container.ContainerColour</td>
                <td>@container.ContainerCapacityDisplayName</td>
                <td><a asp-action="Delete" asp-route-id="@container.Id">Delete</a></td>                
            </tr>
        }
        </tbody>
    </table>
</div>

<hr />
