@using Containers.Common
@model Containers.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <div>
        <p>We have:</p>
        <ul class="list-group">
            <li class="list-group-item bg-info">Containers: @Model.ContainersCount</li>
            <li class="list-group-item bg-light">SRSObjectIndustrials: @Model.SRSObjectIndustrialCount</li>
            <li class="list-group-item bg-info">Warehouses: @Model.WarehouseCount</li>
            <li class="list-group-item bg-light">Schedules: @Model.SchedulesCount</li>
        </ul>
    </div>
</div>
