@model Containers.Web.ViewModels.SRSObjects.Industrial.SRSObjectIndustrialListViewModel
@{
    this.ViewData["Title"] = "All SRS Industrial Objects";   //, page " + Model.PageNumber;
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

<h1>@this.ViewData["Title"]</h1>
<hr />

<div class="container">
    @if (this.User.Identity.IsAuthenticated)
    {
        <a class="btn btn-primary" asp-area="" asp-controller="SRSObjectIndustrial" asp-action="Create">Create SRS Object Industrial</a>
    }
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Contact Person</th>
                <th>Note</th>
                <th>Entry Date</th>
                <th>District Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var srsObjectIndustrial in this.Model.SRSObjectIndustrials)
            {
                <tr>
                    <td>@srsObjectIndustrial.Name</td>
                    <td>@srsObjectIndustrial.Address</td>
                    <td>@srsObjectIndustrial.ContactPerson</td>
                    <td>@srsObjectIndustrial.Note</td>
                    <td>@srsObjectIndustrial.EntryDate</td>
                    <td>@srsObjectIndustrial.DistrictName</td>
                    <td><a asp-action="Details" asp-route-id="@srsObjectIndustrial.Id">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<hr />
@*<partial name="_PagingPartial" model="@Model" />*@
