@model Containers.Web.ViewModels.SRSObjects.Industrial.SRSObjectIndustrialSchemeListViewModel
@{
    this.ViewData["Title"] = "All Schemes";   //, page " + Model.PageNumber;
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

<h1>@this.ViewData["Title"]</h1>
<hr />

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>EntryDate</th>
                <th>WeekDay</th>                               
                <th>Hour</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var scheme in this.Model.SRSObjectIndustrialSchemes)
            {
                <tr>
                    <td>@scheme.EntryDate</td>
                    <td>@scheme.WeekDay</td>
                    <td>@scheme.Hour</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Details" asp-route-id="@Model.Id">Back to DetailsList</a>
</div>

<hr />
@*<partial name="_PagingPartial" model="@Model" />*@
